shrimp/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Shrimp</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a class="is-current" href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <ul class="breadcrumb ft-paytone">
              <li><a class="trans" href="../">Home</a></li>
              <li>Shop</li>
            </ul>
            <div class="box-common box-shop">
              <div class="list-box js-slider">
                <div class="item-prod">
                  <div class="box-item">
                    <div class="box-inner">
                      <div class="icon"><img src="../img/icon_shrimp.png" alt="shrimp"></div>
                      <h2 class="name ft-paytone">Bait Shrimp</h2>
                      <div class="desc">
                        <p class="text">Price : <span class="price">1 GDC = 40 units</span></p>
                        <p class="text">Description: The bait can fishing fish lv1 and lv2.</p>
                        <p class="text">Ingredients: the worms</p>
                      </div>
                      <div class="group-button">
                        <p class="button-usd icon-none">300</p>
                        <div class="icon-plus"></div>
                        <button class="button-buy js-open-lightbox ft-paytone trans" type="button" data-lightbox="modal-success">BUY</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-prod">
                  <div class="box-item">
                    <div class="box-inner">
                      <div class="icon"><img src="../img/icon_fish.png" alt="fish"></div>
                      <h2 class="name ft-paytone">Bait Fish</h2>
                      <div class="desc">
                        <p class="text">Price : <span class="price">1 GDC = 40 units</span></p>
                        <p class="text">Description: The bait can fishing fish lv1 and lv2.</p>
                        <p class="text">Ingredients: the worms</p>
                      </div>
                      <button class="button-level ft-paytone trans" type="button">Level 4 Open</button>
                    </div>
                  </div>
                </div>
                <div class="item-prod">
                  <div class="box-item">
                    <div class="box-inner">
                      <div class="icon"><img src="../img/icon_cuttle.png" alt="cuttle"></div>
                      <h2 class="name ft-paytone">Bait Squid</h2>
                      <div class="desc">
                        <p class="text">Price : <span class="price">1 GDC = 40 units</span></p>
                        <p class="text">Description: The bait can fishing fish lv1 and lv2.</p>
                        <p class="text">Ingredients: the worms</p>
                      </div>
                      <button class="button-level ft-paytone" type="button">Level 7 Open</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-tank">
              <h2 class="title-tank ft-paytone">Fish tank</h2>
              <div class="box-common box-tank">
                <div class="list-tank js-slider">
                  <div class="item-slide-tank">
                    <div class="item-tank">
                      <div class="tank-image"><img class="image-common" src="../img/img_tank.jpg" alt="Image">
                        <div class="fishes">
                          <div class="fish fish-101"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                        </div>
                      </div>
                      <div class="tank-info">
                        <h3 class="name ft-paytone">Fish tank Lv 1</h3>
                        <div class="desc">
                          <p>Price :<span class="is-yellow"> 40 GDC</span></p>
                          <p>Size :<span class="is-yellow">5x5</span></p>
                        </div>
                        <button class="button-level ft-paytone trans" type="button">Level 3 Open</button>
                      </div>
                    </div>
                  </div>
                  <div class="item-slide-tank">
                    <div class="item-tank">
                      <div class="tank-image"><img class="image-common" src="../img/img_tank.jpg" alt="Image">
                        <div class="fishes">
                          <div class="fish fish-102"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                        </div>
                      </div>
                      <div class="tank-info">
                        <h3 class="name ft-paytone">Fish tank Lv 1</h3>
                        <div class="desc">
                          <p>Price :<span class="is-yellow"> 40 GDC</span></p>
                          <p>Size :<span class="is-yellow">5x5</span></p>
                        </div>
                        <button class="button-level ft-paytone trans" type="button">Level 5 Open</button>
                      </div>
                    </div>
                  </div>
                  <div class="item-slide-tank">
                    <div class="item-tank">
                      <div class="tank-image"><img class="image-common" src="../img/img_tank.jpg" alt="Image">
                        <div class="fishes">
                          <div class="fish fish-103"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                        </div>
                      </div>
                      <div class="tank-info">
                        <h3 class="name ft-paytone">Fish tank Lv 1</h3>
                        <div class="desc">
                          <p>Price :<span class="is-yellow"> 40 GDC</span></p>
                          <p>Size :<span class="is-yellow">5x5</span></p>
                        </div>
                        <button class="button-level ft-paytone trans" type="button">Level 7 Open</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><a class="button-history ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-history"> <span>History<br>Buy and Sell</span></a>
        </section>
        <div class="js-lightbox-popup lightbox-content lightbox-success js-popup-congratulations" data-lightbox="modal-success">
          <div class="popup-light-box">
            <div class="popup-light-box-cell">
              <div class="box-success success-fish success-01">
                <div class="btn-close js-close-congratulations" href="javascript:;"></div>
                <div class="wrap-tab js-payment">
                  <div class="success-photo"><img src="../img/icon_06.png" alt="Success buy Shrimp"></div>
                  <p class="success-name size ft-paytone">PAYMENT</p>
                  <ul class="tab-ham-bat js-tabs">
                    <li><a class="trans bat" href="#bat">With BAT</a></li>
                    <li><a class="trans ham" href="#ham">With HAM</a></li>
                  </ul>
                  <div class="tab-popup is-yellow" id="bat">
                    <p>The BAT you need to pay is: 1The number of bait you get: 40</p>
                  </div>
                  <div class="tab-popup is-yellow" id="ham">
                    <p>Buy bait with HAM you will get preferential: + 20% of bait<br>The HAM you need to pay is: 9.9009901<br>The number of bait you get: 48</p>
                  </div><a class="button-close-success ft-paytone js-purchased" href="javascript:;">Purchased</a>
                </div>
                <div class="wrap-congratulations js-congratulations">
                  <div class="congratulations-photo"><img src="../img/icon.png" alt="Success buy Shrimp"></div>
                  <p class="success-name ft-paytone">Congratulations</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="js-lightbox-popup lightbox-content lightbox-history" data-lightbox="modal-history">
          <div class="modal-dialog-box">
            <div class="box-history">
              <div class="modal-header">History Buy Sell</div>
              <div class="modal-body">
                <div class="inner-over">
                  <table class="table-data">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Place</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination-list">
                    <li><a class="pagination-previous disabled" href="#">&laquo; Previous</a></li>
                    <li><span class="is-current">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a class="pagination-next disabled" href="#">Next &raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer"><a class="mobal-close-common js-popup-close" href="javascript:;" data-lightbox="modal-success">Close</a></div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

dev/pug/shrimp/index.pug
extends ../_layouts/default

block vars
  -title        = 'Shrimp'
  -description  = ''
  -keywords     = ''
  -pageID       = 'shrimp'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li Shop
      .box-common.box-shop
        .list-box.js-slider
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_shrimp.png", alt="shrimp")
                h2.name.ft-paytone Bait Shrimp
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                .group-button
                  p.button-usd.icon-none 300
                  .icon-plus
                  button.button-buy.js-open-lightbox.ft-paytone.trans(type="button" data-lightbox="modal-success") BUY
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_fish.png", alt="fish")
                h2.name.ft-paytone Bait Fish
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                button.button-level.ft-paytone.trans(type="button") Level 4 Open
          .item-prod
            .box-item
              .box-inner
                .icon
                  img(src=path+"/img/icon_cuttle.png", alt="cuttle")
                h2.name.ft-paytone Bait Squid
                .desc
                  p.text Price : <span class="price">1 GDC = 40 units</span>
                  p.text Description: The bait can fishing fish lv1 and lv2.
                  p.text Ingredients: the worms
                button.button-level.ft-paytone(type="button") Level 7 Open
      .row-tank
        h2.title-tank.ft-paytone Fish tank
        .box-common.box-tank
          .list-tank.js-slider
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-101
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 3 Open
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-102
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 5 Open
            .item-slide-tank
              .item-tank
                .tank-image
                  img.image-common(src=path+"/img/img_tank.jpg", alt="Image")
                  .fishes
                    .fish.fish-103
                      img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
                .tank-info
                  h3.name.ft-paytone Fish tank Lv 1
                  .desc
                    p Price :<span class="is-yellow"> 40 GDC</span>
                    p Size :<span class="is-yellow">5x5</span>
                  button.button-level.ft-paytone.trans(type="button") Level 7 Open

    a.button-history.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-history") 
      span History<br>Buy and Sell
  
  .js-lightbox-popup.lightbox-content.lightbox-success.js-popup-congratulations(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success.success-fish.success-01
          .btn-close.js-close-congratulations(href="javascript:;")
          .wrap-tab.js-payment
            .success-photo
              img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
            p.success-name.size.ft-paytone PAYMENT
            ul.tab-ham-bat.js-tabs
              li
                a.trans.bat(href="#bat") With BAT
              li
                a.trans.ham(href="#ham") With HAM
            .tab-popup.is-yellow#bat
              p The BAT you need to pay is: 1The number of bait you get: 40
            .tab-popup.is-yellow#ham
              p Buy bait with HAM you will get preferential: + 20% of bait<br>The HAM you need to pay is: 9.9009901<br>The number of bait you get: 48
            a.button-close-success.ft-paytone.js-purchased(href="javascript:;") Purchased
          .wrap-congratulations.js-congratulations
            .congratulations-photo
              img(src=path+"/img/icon.png", alt="Success buy Shrimp")
            p.success-name.ft-paytone Congratulations
        
  
  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close
