network/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Nextwork</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <div class="common-heading">
              <h2 class="title-default ft-paytone">Member infomation</h2>
              <div class="heading-right">
                <div class="copy-addon"><span class="text-box icon-link">htpss://bancalon.com/ref=hoangle</span>
                  <button class="button-addon ft-paytone trans" type="button">COPY</button>
                </div>
              </div>
            </div>
            <div class="box-common box-member">
              <div class="column-left">
                <ul class="list-link ft-paytone">
                  <li><a class="icon01 trans" href="../member/">Hồ sơ</a></li>
                  <li><a class="icon02 trans is-active" href="../network/">Network</a></li>
                </ul>
              </div>
              <div class="column-right tree-view">
                <h3 class="title-tree ft-paytone">Tree VIew</h3>
                <p>Doan van nho nhan xinh xan gioi thieu cai tree view</p>
                <div class="tree-view-wrap">
                  <ul class="list-tree">
                    <li class="is-expanded none">
                      <p><span>User ID - Lv: 1 </span></p>
                      <ul>
                        <li>
                          <p><span>User ID - Lv: 1</span></p>
                        </li>
                        <li>
                          <p><span>User ID - Lv: 1</span></p>
                        </li>
                        <li class="is-expanded none">
                          <p><span>User ID - Lv: 1</span></p>
                          <ul>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                          </ul>
                        </li>
                        <li class="is-expanded none">
                          <p><span>User ID - Lv: 1</span></p>
                          <ul>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li class="is-expanded none">
                              <p><span>User ID - Lv: 1</span></p>
                              <ul>
                                <li>
                                  <p><span>User ID - Lv: 1</span></p>
                                </li>
                                <li class="is-expanded none">
                                  <p><span>User ID - Lv: 1</span></p>
                                  <ul>
                                    <li>
                                      <p><span>User ID - Lv: 1</span></p>
                                    </li>
                                    <li>
                                      <p><span>User ID - Lv: 1</span></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li class="is-expanded none">
                              <p><span>User ID - Lv: 1</span></p>
                              <ul>
                                <li>
                                  <p><span>User ID - Lv: 1</span></p>
                                </li>
                                <li class="is-expanded none">
                                  <p><span>User ID - Lv: 1</span></p>
                                  <ul>
                                    <li>
                                      <p><span>User ID - Lv: 1</span></p>
                                    </li>
                                    <li>
                                      <p><span>User ID - Lv: 1</span></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="is-expanded none">
                      <p><span>User ID - Lv: 1 </span></p>
                      <ul>
                        <li>
                          <p><span>User ID - Lv: 1</span></p>
                        </li>
                        <li>
                          <p><span>User ID - Lv: 1</span></p>
                        </li>
                        <li class="is-expanded none">
                          <p><span>User ID - Lv: 1</span></p>
                          <ul>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                          </ul>
                        </li>
                        <li class="is-expanded none">
                          <p><span>User ID - Lv: 1</span></p>
                          <ul>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                            <li>
                              <p><span>User ID - Lv: 1</span></p>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

dev/pug/network/index.pug
extends ../_layouts/default

block vars
  -title        = 'Nextwork'
  -description  = ''
  -keywords     = ''
  -pageID       = 'nextwork'
  -path         = '..'

block container
  section.section-common
    .wrapper
      .common-heading
        h2.title-default.ft-paytone Member infomation
        .heading-right
          .copy-addon
            span.text-box.icon-link htpss://bancalon.com/ref=hoangle
            button.button-addon.ft-paytone.trans(type="button") COPY
      .box-common.box-member
        .column-left
          ul.list-link.ft-paytone
            li
              a.icon01.trans(href=path+"/member/") Hồ sơ
            li
              a.icon02.trans.is-active(href=path+"/network/") Network
        .column-right.tree-view
          h3.title-tree.ft-paytone Tree VIew
          p Doan van nho nhan xinh xan gioi thieu cai tree view
          .tree-view-wrap
            ul.list-tree
              li.is-expanded.none
                p <span>User ID - Lv: 1 </span>
                ul
                  li
                    p <span>User ID - Lv: 1</span>
                  li
                    p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li.is-expanded.none
                        p <span>User ID - Lv: 1</span>
                        ul
                          li
                            p <span>User ID - Lv: 1</span>
                          li.is-expanded.none
                            p <span>User ID - Lv: 1</span>
                            ul
                              li
                                p <span>User ID - Lv: 1</span>
                              li
                                p <span>User ID - Lv: 1</span>
                      li.is-expanded.none
                        p <span>User ID - Lv: 1</span>
                        ul
                          li
                            p <span>User ID - Lv: 1</span>
                          li.is-expanded.none
                            p <span>User ID - Lv: 1</span>
                            ul
                              li
                                p <span>User ID - Lv: 1</span>
                              li
                                p <span>User ID - Lv: 1</span>
              li.is-expanded.none
                p <span>User ID - Lv: 1 </span>
                ul
                  li
                    p <span>User ID - Lv: 1</span>
                  li
                    p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                  li.is-expanded.none
                    p <span>User ID - Lv: 1</span>
                    ul
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
                      li
                        p <span>User ID - Lv: 1</span>
