whalefishing/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Whalefishing</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a class="is-current" href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <ul class="breadcrumb ft-paytone">
              <li><a class="trans" href="../">Home</a></li>
              <li>WHALE FISHING</li>
            </ul>
            <div class="box-common box-whalefishing">
              <h2 class="title-primary ft-paytone">List fish can be fished </h2>
              <div class="list-box js-slider">
                <div class="item-fishing">
                  <div class="box-fishing ft-paytone">
                    <div class="fishing-photo"><img src="../img/icon_shrimp_01.png" alt="shrimp"></div>
                    <p class="fishing-text">List fish can be fished</p>
                    <h3 class="fishing-name">Gulf</h3><a class="button-default ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success"> Fishing start</a>
                  </div>
                </div>
                <div class="item-fishing">
                  <div class="box-fishing ft-paytone">
                    <div class="fishing-photo"><img src="../img/icon_shrimp_01.png" alt="shrimp"></div>
                    <p class="fishing-text">List fish can be fished</p>
                    <h3 class="fishing-name">Sea</h3>
                    <button class="button-default ft-paytone trans" type="button">Level 5 Open</button>
                  </div>
                </div>
                <div class="item-fishing">
                  <div class="box-fishing ft-paytone">
                    <div class="fishing-photo"><img src="../img/icon_shrimp_01.png" alt="shrimp"></div>
                    <p class="fishing-text">List fish can be fished</p>
                    <h3 class="fishing-name">Ocean</h3>
                    <button class="button-default ft-paytone trans" type="button">Level 7 Open</button>
                  </div>
                </div>
              </div>
            </div>
          </div><a class="button-history ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-fishing"> <span>History Fishing</span></a>
        </section>
        <div class="js-lightbox-popup lightbox-content lightbox-history" data-lightbox="modal-fishing">
          <div class="modal-dialog-box">
            <div class="box-history">
              <div class="modal-header">History Buy Sell</div>
              <div class="modal-body">
                <div class="inner-over">
                  <table class="table-data">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Place</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination-list">
                    <li><a class="pagination-previous disabled" href="#">&laquo; Previous</a></li>
                    <li><span class="is-current">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a class="pagination-next disabled" href="#">Next &raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer"><a class="mobal-close-common js-popup-close" href="javascript:;" data-lightbox="modal-success">Close</a></div>
            </div>
          </div>
        </div>
        <div class="js-lightbox-popup lightbox-content lightbox-success" data-lightbox="modal-success">
          <div class="popup-light-box">
            <div class="popup-light-box-cell">
              <div class="box-success success-fish">
                <div class="btn-close js-popup-close" href="javascript:;" data-lightbox="modal-success"></div>
                <div class="success-photo"><img src="../img/icon_06.png" alt="Success buy Shrimp"></div>
                <div class="success-text ft-paytone">Drop the sentence you will spend 2 bait per 1 drop.<br>Existing fishing energies: <span class="is-yellow">6</span></div>
                <p class="success-desc is-yellow">The number of sentences exceeded the available energy limit.</p>
                <div class="quantity-wrap"><a class="button-minus spin" href="#"></a>
                  <div class="over">
                    <input class="quantity-text-number ft-paytone" type="number" value="10" min="6">
                  </div><a class="button-plus spin" href="#"></a>
                </div><a class="button-close-success ft-paytone js-popup-close" href="javascript:;" data-lightbox="modal-success">FISHING</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

dev/pug/whalefishing/index.pug
extends ../_layouts/default

block vars
  -title        = 'Whalefishing'
  -description  = ''
  -keywords     = ''
  -pageID       = 'whalefishing'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li WHALE FISHING
      .box-common.box-whalefishing
        h2.title-primary.ft-paytone List fish can be fished 
        .list-box.js-slider
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Gulf
                  
              a.button-default.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")  Fishing start
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Sea
                  
              button.button-default.ft-paytone.trans(type="button") Level 5 Open
          .item-fishing
            .box-fishing.ft-paytone
              .fishing-photo
                img(src=path+"/img/icon_shrimp_01.png", alt="shrimp")
              p.fishing-text List fish can be fished
              h3.fishing-name Ocean
                  
              button.button-default.ft-paytone.trans(type="button") Level 7 Open
          
    a.button-history.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-fishing") 
      span History Fishing
  
  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-fishing")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close
  
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success.success-fish
          .btn-close.js-popup-close(href="javascript:;", data-lightbox="modal-success")
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          .success-text.ft-paytone Drop the sentence you will spend 2 bait per 1 drop.<br>Existing fishing energies: <span class="is-yellow">6</span>
          p.success-desc.is-yellow The number of sentences exceeded the available energy limit.
          .quantity-wrap
            a.button-minus.spin(href="#")
            .over
              input.quantity-text-number.ft-paytone(type="number" value="10" min="6")
            a.button-plus.spin(href="#")
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") FISHING
