dev/pug/member/index.pug
extends ../_layouts/default

block vars
  -title        = 'Member'
  -description  = ''
  -keywords     = ''
  -pageID       = 'menber'
  -path         = '..'

block container
  section.section-common
    .wrapper
      .common-heading
        h2.title-default.ft-paytone Member infomation
        .heading-right
          .copy-addon
            span.text-box.icon-link htpss://bancalon.com/ref=hoangle
            button.button-addon.ft-paytone.trans(type="button") COPY
      .box-common.box-member
        .column-left
          ul.list-link.ft-paytone
            li
              a.icon01.trans.is-active(href=path+"/member/") Hồ sơ
            li
              a.icon02.trans(href=path+"/network/") Network
        .column-right
          form.form-common
            .form-row
              .form-column
                .form-head User ID
                input.text-box(type="text" placeholder="hoangle")
              .form-column
                .form-head User Name
                input.text-box(type="text" placeholder="Nguyen Le Hoang")
            .form-row
              .form-column
                .form-head Country
                input.text-box(type="text" placeholder="Vietnam")
              .form-column
                .form-head Telephone
                input.text-box(type="text" placeholder="xxxxxxxxx")
            .form-row
              .form-column
                .form-head E-Mail
                input.text-box(type="text")
              .form-column
                .form-head Sponsor
                input.text-box(type="text" placeholder="xxxxxxxxx")
            .form-row01
              .form-head Suggested address
              .copy-addon
                span.text-box TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka
                button.button-addon.ft-paytone.trans(type="button") COPY
            .form-change
              h3.form-title.ft-paytone Change Password
              .form-row
                .form-column
                  .form-head Old Password
                  input.text-box(type="password")
              .form-row
                .form-column
                  .form-head New pass
                  input.text-box(type="password")
                .form-column
                  .form-head Password Check
                  input.text-box(type="password")
            button.button-history.is-history-small.ft-paytone.trans(type="submit") Update

      
    
  
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE

  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                
            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close

member/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Member</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <div class="common-heading">
              <h2 class="title-default ft-paytone">Member infomation</h2>
              <div class="heading-right">
                <div class="copy-addon"><span class="text-box icon-link">htpss://bancalon.com/ref=hoangle</span>
                  <button class="button-addon ft-paytone trans" type="button">COPY</button>
                </div>
              </div>
            </div>
            <div class="box-common box-member">
              <div class="column-left">
                <ul class="list-link ft-paytone">
                  <li><a class="icon01 trans is-active" href="../member/">Hồ sơ</a></li>
                  <li><a class="icon02 trans" href="../network/">Network</a></li>
                </ul>
              </div>
              <div class="column-right">
                <form class="form-common">
                  <div class="form-row">
                    <div class="form-column">
                      <div class="form-head">User ID</div>
                      <input class="text-box" type="text" placeholder="hoangle">
                    </div>
                    <div class="form-column">
                      <div class="form-head">User Name</div>
                      <input class="text-box" type="text" placeholder="Nguyen Le Hoang">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-column">
                      <div class="form-head">Country</div>
                      <input class="text-box" type="text" placeholder="Vietnam">
                    </div>
                    <div class="form-column">
                      <div class="form-head">Telephone</div>
                      <input class="text-box" type="text" placeholder="xxxxxxxxx">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-column">
                      <div class="form-head">E-Mail</div>
                      <input class="text-box" type="text">
                    </div>
                    <div class="form-column">
                      <div class="form-head">Sponsor</div>
                      <input class="text-box" type="text" placeholder="xxxxxxxxx">
                    </div>
                  </div>
                  <div class="form-row01">
                    <div class="form-head">Suggested address</div>
                    <div class="copy-addon"><span class="text-box">TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka</span>
                      <button class="button-addon ft-paytone trans" type="button">COPY</button>
                    </div>
                  </div>
                  <div class="form-change">
                    <h3 class="form-title ft-paytone">Change Password</h3>
                    <div class="form-row">
                      <div class="form-column">
                        <div class="form-head">Old Password</div>
                        <input class="text-box" type="password">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-column">
                        <div class="form-head">New pass</div>
                        <input class="text-box" type="password">
                      </div>
                      <div class="form-column">
                        <div class="form-head">Password Check</div>
                        <input class="text-box" type="password">
                      </div>
                    </div>
                  </div>
                  <button class="button-history is-history-small ft-paytone trans" type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="js-lightbox-popup lightbox-content lightbox-success" data-lightbox="modal-success">
          <div class="popup-light-box">
            <div class="popup-light-box-cell">
              <div class="box-success">
                <div class="success-photo"><img src="../img/icon_06.png" alt="Success buy Shrimp"></div>
                <p class="success-name ft-paytone">Success<br>buy Shrimp</p><a class="button-close-success ft-paytone js-popup-close" href="javascript:;" data-lightbox="modal-success">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="js-lightbox-popup lightbox-content lightbox-history" data-lightbox="modal-history">
          <div class="modal-dialog-box">
            <div class="box-history">
              <div class="modal-header">History Buy Sell</div>
              <div class="modal-body">
                <div class="inner-over">
                  <table class="table-data">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Place</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination-list">
                    <li><a class="pagination-previous disabled" href="#">&laquo; Previous</a></li>
                    <li><span class="is-current">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a class="pagination-next disabled" href="#">Next &raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer"><a class="mobal-close-common js-popup-close" href="javascript:;" data-lightbox="modal-success">Close</a></div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
