dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone Home
      .box-common.box-fish
        ul.list-fish
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
          li
            a.item-fish.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")
              .fish-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              .fish-content
                h3.fish-name.ft-paytone Gold Fish
                p Price : <span class="is-yellow">40 units</span>
                p Size : 1 <span class="is-yellow">1</span>
                p Profit : <span class="is-yellow">0,000002%</span>
                p Storage time : <span class="is-yellow">48 hours</span>
  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE

index.html
<!DOCTYPE html>
<html class="page-top" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Top</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="loading js-loading">
      <div class="loader"></div>
    </div>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="./"><img src="./img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="./login/">Log out</a><span class="line">/</span><a href="./notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="./member/"><img src="./img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="./"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="./shrimp/">SHOP</a></li>
                  <li><a href="./group/">MY fISH TANK</a></li>
                  <li><a href="./whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="./wallets/"></a></li>
                <li><a class="icon-notify trans" href="./notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <h2 class="title-default ft-paytone">Home</h2>
            <div class="box-common box-fish">
              <ul class="list-fish">
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
                <li><a class="item-fish trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">
                    <div class="fish-photo"><img class="image-common" src="./img/icon_shrimp.png" alt="shrimp"></div>
                    <div class="fish-content">
                      <h3 class="fish-name ft-paytone">Gold Fish</h3>
                      <p>Price : <span class="is-yellow">40 units</span></p>
                      <p>Size : 1 <span class="is-yellow">1</span></p>
                      <p>Profit : <span class="is-yellow">0,000002%</span></p>
                      <p>Storage time : <span class="is-yellow">48 hours</span></p>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
        <div class="js-lightbox-popup lightbox-content lightbox-success" data-lightbox="modal-success">
          <div class="popup-light-box">
            <div class="popup-light-box-cell">
              <div class="box-success">
                <div class="success-photo"><img src="./img/icon_06.png" alt="Success buy Shrimp"></div>
                <p class="success-name ft-paytone">Success<br>buy Shrimp</p><a class="button-close-success ft-paytone js-popup-close" href="javascript:;" data-lightbox="modal-success">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
