dev/pug/group/index.pug
extends ../_layouts/default

block vars
  -title        = 'Group'
  -description  = ''
  -keywords     = ''
  -pageID       = 'group'
  -path         = '..'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone My Fishing Group
      .box-common.box-fishing-group
        .box-bg
        .fishes
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
          .fish
            img.flip-h(src=path+"/img/fish_01.gif" alt="Fish")
      ul.list-tab-button.ft-paytone.js-tabs
        li
          a(href="#your-fish") Your Fish
        li
          a(href="#your-booth") Your Booth
      .fish-tab#your-fish
        ul.list-card
          li.item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          li.item-card.is-set-sell
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          li.item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
      .fish-tab#your-booth
        .list-card
          .item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          .item-card.is-set-sell
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success") Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>
          .item-card
            .card-left
              .card-photo
                img.image-common(src=path+"/img/icon_shrimp.png", alt="shrimp")
              a.button-sell.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-success")  Sell
            .card-info
              h3.card-name.ft-paytone GoldFish 2
              .card-row
                p Buy: <span class="is-yellow">26.30532034</span>
                p Maxsell: <span class="is-yellow">26.30532034</span>
                p Date: <span class="is-yellow">2020/11/10 - 20:46:34</span>
                p Price sell: <span class="is-yellow">26.45874695</span>
              .card-row
                p Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span>
                p Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span>
                p Size: <span class="is-yellow">1x1</span>

    a.button-history.is-history-small.ft-paytone.trans.js-open-lightbox(href="javascript:;", data-lightbox="modal-history")
      span History

  .js-lightbox-popup.lightbox-content.lightbox-success(data-lightbox="modal-success")
    .popup-light-box
      .popup-light-box-cell
        .box-success
          .success-photo
            img(src=path+"/img/icon_06.png", alt="Success buy Shrimp")
          p.success-name.ft-paytone Success<br>buy Shrimp
          a.button-close-success.ft-paytone.js-popup-close(href="javascript:;", data-lightbox="modal-success") CLOSE

  .js-lightbox-popup.lightbox-content.lightbox-history(data-lightbox="modal-history")
    .modal-dialog-box
      .box-history
        .modal-header History Buy Sell
        .modal-body
          .inner-over
            table.table-data
              thead
                tr
                  th Id
                  th UserId
                  th Place
                  th Quantity
                  th Amount
                  th Type
                  th Status
                  th Created
              tbody
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40
                tr
                  td 1863
                  td doancong
                  td gulf
                  td 100
                  td 2.5
                  td buyShrimp
                  td Success
                  td 2020/11/14-11:35:31
                tr
                  td 1859
                  td doancong
                  td gulf
                  td 40
                  td 1.0
                  td buyShrimp
                  td Success
                  td 2020/11/14-09:40:40

            ul.pagination-list
              li
                a.pagination-previous.disabled(href="#") &laquo; Previous
              li
                span.is-current 1
              li
                a(href="#") 2
              li
                a.pagination-next.disabled(href="#") Next &raquo;
        .modal-footer
          a.mobal-close-common.js-popup-close(href="javascript:;", data-lightbox="modal-success") Close

group/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Group</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a class="is-current" href="../group/">MY fISH TANK</a></li>
                  <li><a href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <h2 class="title-default ft-paytone">My Fishing Group</h2>
            <div class="box-common box-fishing-group">
              <div class="box-bg"></div>
              <div class="fishes">
                <div class="fish"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                <div class="fish"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                <div class="fish"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                <div class="fish"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
                <div class="fish"><img class="flip-h" src="../img/fish_01.gif" alt="Fish"></div>
              </div>
            </div>
            <ul class="list-tab-button ft-paytone js-tabs">
              <li><a href="#your-fish">Your Fish</a></li>
              <li><a href="#your-booth">Your Booth</a></li>
            </ul>
            <div class="fish-tab" id="your-fish">
              <ul class="list-card">
                <li class="item-card">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </li>
                <li class="item-card is-set-sell">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </li>
                <li class="item-card">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="fish-tab" id="your-booth">
              <div class="list-card">
                <div class="item-card">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish 2</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </div>
                <div class="item-card is-set-sell">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success">Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish 2</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </div>
                <div class="item-card">
                  <div class="card-left">
                    <div class="card-photo"><img class="image-common" src="../img/icon_shrimp.png" alt="shrimp"></div><a class="button-sell ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-success"> Sell</a>
                  </div>
                  <div class="card-info">
                    <h3 class="card-name ft-paytone">GoldFish 2</h3>
                    <div class="card-row">
                      <p>Buy: <span class="is-yellow">26.30532034</span></p>
                      <p>Maxsell: <span class="is-yellow">26.30532034</span></p>
                      <p>Date: <span class="is-yellow">2020/11/10 - 20:46:34</span></p>
                      <p>Price sell: <span class="is-yellow">26.45874695</span></p>
                    </div>
                    <div class="card-row">
                      <p>Time max sell: <span class="is-yellow">2020/11/12 - 20:46:34</span></p>
                      <p>Open sell: <span class="is-yellow">2020/11/11 - 08:46:34</span></p>
                      <p>Size: <span class="is-yellow">1x1</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><a class="button-history is-history-small ft-paytone trans js-open-lightbox" href="javascript:;" data-lightbox="modal-history"><span>History</span></a>
        </section>
        <div class="js-lightbox-popup lightbox-content lightbox-success" data-lightbox="modal-success">
          <div class="popup-light-box">
            <div class="popup-light-box-cell">
              <div class="box-success">
                <div class="success-photo"><img src="../img/icon_06.png" alt="Success buy Shrimp"></div>
                <p class="success-name ft-paytone">Success<br>buy Shrimp</p><a class="button-close-success ft-paytone js-popup-close" href="javascript:;" data-lightbox="modal-success">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="js-lightbox-popup lightbox-content lightbox-history" data-lightbox="modal-history">
          <div class="modal-dialog-box">
            <div class="box-history">
              <div class="modal-header">History Buy Sell</div>
              <div class="modal-body">
                <div class="inner-over">
                  <table class="table-data">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Place</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                      <tr>
                        <td>1863</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>100</td>
                        <td>2.5</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-11:35:31</td>
                      </tr>
                      <tr>
                        <td>1859</td>
                        <td>doancong</td>
                        <td>gulf</td>
                        <td>40</td>
                        <td>1.0</td>
                        <td>buyShrimp</td>
                        <td>Success</td>
                        <td>2020/11/14-09:40:40</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination-list">
                    <li><a class="pagination-previous disabled" href="#">&laquo; Previous</a></li>
                    <li><span class="is-current">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a class="pagination-next disabled" href="#">Next &raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer"><a class="mobal-close-common js-popup-close" href="javascript:;" data-lightbox="modal-success">Close</a></div>
            </div>
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
