dev/pug/notice/index.pug
extends ../_layouts/default

block vars
  -title        = 'Notice'
  -description  = ''
  -keywords     = ''
  -pageID       = 'notice'
  -path         = '..'

block container
  section.section-common
    .wrapper
      ul.breadcrumb.ft-paytone
        li
          a.trans(href=path+"/") Home
        li Notification
      ul.list-notice
        li
          .item-notice.is-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ - nếu nội dung nhiều thì sẽ tự xuống hàng. 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
        li
          .item-notice
            .notice-time 11/12/2020  17:30 
            .notice-content Bắn cá ngu quá, cho 1 điểm về chỗ 
    a.button-history.is-more.ft-paytone.trans(href="#") 
      span Load more
        

notice/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Notice</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <ul class="breadcrumb ft-paytone">
              <li><a class="trans" href="../">Home</a></li>
              <li>Notification</li>
            </ul>
            <ul class="list-notice">
              <li>
                <div class="item-notice is-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ - nếu nội dung nhiều thì sẽ tự xuống hàng. </div>
                </div>
              </li>
              <li>
                <div class="item-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ </div>
                </div>
              </li>
              <li>
                <div class="item-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ </div>
                </div>
              </li>
              <li>
                <div class="item-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ </div>
                </div>
              </li>
              <li>
                <div class="item-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ </div>
                </div>
              </li>
              <li>
                <div class="item-notice">
                  <div class="notice-time">11/12/2020  17:30 </div>
                  <div class="notice-content">Bắn cá ngu quá, cho 1 điểm về chỗ </div>
                </div>
              </li>
            </ul>
          </div><a class="button-history is-more ft-paytone trans" href="#"> <span>Load more</span></a>
        </section>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
