wallets/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Wallets</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <header>
        <div class="wrapper">
          <div class="header-inner">
            <div class="header-left">
              <h1 class="header-logo"><a class="trans" href="../"><img src="../img/logo.png" width="310" height="46" alt="Logo Wefishing"></a></h1>
              <div class="overlay-menu js-overlay"></div>
              <nav class="navigation js-navigation">
                <div class="button-close js-button-close"></div>
                <div class="header-group">
                  <div class="header-column">
                    <p class="header-name">Oswalkd Deced</p>
                    <div class="header-link"><a href="../login/">Log out</a><span class="line">/</span><a href="../notice/">Setting</a></div>
                    <p class="header-text">12,856402 TRX</p>
                  </div>
                  <div class="header-avatar"><a class="trans" href="../member/"><img src="../img/icon_member.png" width="64" height="64" alt="Avatar"></a></div>
                </div>
                <ul class="navigation-menu ft-paytone">
                  <li><a href="../"><span class="icon-home">HOME PAGE</span></a></li>
                  <li><a href="../shrimp/">SHOP</a></li>
                  <li><a href="../group/">MY fISH TANK</a></li>
                  <li><a class="is-current" href="../whalefishing/">WHALE FISHING</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-right">
              <ul class="list-system">
                <li><a class="icon-wallet trans" href="../wallets/"></a></li>
                <li><a class="icon-notify trans" href="../notice/"><span></span></a></li>
              </ul>
            </div>
          </div>
          <div class="button-menu js-button-open"><span></span><span></span></div>
        </div>
      </header>
      <div class="navigation-point">
        <div class="wrapper">
          <ul class="list-point">
            <li><a class="trans icon01" href="#">465</a></li>
            <li><a class="trans icon02" href="#">465</a></li>
            <li><a class="trans icon03" href="#">465</a></li>
            <li><a class="trans icon04" href="#">BAT: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">HAM: 975636.846461</a></li>
            <li><a class="trans icon05" href="#">COMMISION: 111461</a></li>
          </ul>
          <div class="power-group">
            <p class="power"><span class="power-text">Power:</span><span>1 / 10</span></p>
            <p>Recovery:  00 : 52 : 34</p>
          </div>
        </div>
      </div>
      <main>
        <section class="section-common">
          <div class="wrapper">
            <h2 class="title-default ft-paytone">My Wallet</h2>
            <div class="box-common box-wallet">
              <ul class="list-tabs ft-paytone js-tabs">
                <li><a href="#deposit">Deposit</a></li>
                <li><a href="#withdraw">Withdraw</a></li>
              </ul>
              <div class="wallet-content tab-content tab-deposit" id="deposit">
                <div class="deposit-row">
                  <h3 class="wallet-title ft-paytone">Choose Currency</h3>
                  <select class="select">
                    <option value="TRON - TRC20 (TRX)">TRON - TRC20 (TRX)</option>
                    <option value="HAMBURGER (HAM)">HAMBURGER (HAM)</option>
                  </select>
                  <p class="coin-text">1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC</p>
                </div>
                <button class="text-input ft-paytone trans" type="button">SWAP</button>
                <div class="coin-row">
                  <div class="coin-input">
                    <input class="text-input" type="text" placeholder="Enter number"><span class="text">GDC</span>
                  </div>
                  <div class="coin-number">=<span class="is-yellow">397.9307600477517</span>TRX</div>
                </div>
                <div class="coin-code">
                  <div class="coin-copy"><span class="text-input">TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka</span><span class="copy-button"></span></div>
                  <div class="coin-photo"><img class="image-common" src="../img/icon_code.png" alt="Code"></div>
                </div>
              </div>
              <div class="wallet-content tab-content tab-withdraw" id="withdraw">
                <div class="deposit-row">
                  <h3 class="wallet-title ft-paytone">Choose Currency</h3>
                  <select class="select">
                    <option value="TRON - TRC20 (TRX)">TRON - TRC20 (TRX)</option>
                    <option value="HAMBURGER (HAM)">HAMBURGER (HAM)</option>
                  </select>
                  <p class="coin-text">1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC</p>
                </div>
                <div class="withdraw-quantity">
                  <h3 class="wallet-title ft-paytone">Quantity withdraw</h3>
                  <p>Minimum withdrawal amount : 100 Usdt, Fee: 5 usdt,Number of coins you receive: -5</p>
                </div>
                <div class="coin-row coin-withdraw">
                  <div class="coin-input">
                    <input class="text-input" type="text" placeholder="Enter number"><span class="text">GDC</span>
                  </div>
                  <div class="withdraw-column">
                    <input class="text-input" type="text" placeholder="Enter address">
                  </div>
                </div>
                <button class="button-request ft-paytone trans" type="button">Request Withdraw</button>
              </div>
              <ul class="list-number">
                <li>The GDC is charged according to the market price at the time when the transfer of each cryptocurrency is completed..</li>
                <li>Please deposit the money to the correct address. You can't find it back if the address is wrong.</li>
                <li>Please use the currency calculator for reference based on the current market price..</li>
                <li>There may be a difference in market prices at the time of transmission..</li>
              </ul>
            </div>
          </div><a class="button-history ft-paytone trans" href="#"> <span>Charge History</span></a>
        </section>
      </main>
      <footer></footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

dev/pug/wallets/index.pug
extends ../_layouts/default

block vars
  -title        = 'Wallets'
  -description  = ''
  -keywords     = ''
  -pageID       = 'whalefishing'
  -path         = '..'

block container
  section.section-common
    .wrapper
      h2.title-default.ft-paytone My Wallet
      .box-common.box-wallet
        ul.list-tabs.ft-paytone.js-tabs
          li
            a(href="#deposit") Deposit
          li
            a(href="#withdraw") Withdraw
        .wallet-content.tab-content.tab-deposit#deposit
          .deposit-row
            h3.wallet-title.ft-paytone Choose Currency
            select.select
              option(value="TRON - TRC20 (TRX)") TRON - TRC20 (TRX)
              option(value="HAMBURGER (HAM)") HAMBURGER (HAM)
            p.coin-text
              | 1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC
          button.text-input.ft-paytone.trans(type="button") SWAP
          .coin-row
            .coin-input
              input.text-input(type="text" placeholder="Enter number")
              span.text GDC
            .coin-number
              | =<span class="is-yellow">397.9307600477517</span>TRX
          .coin-code
            .coin-copy
              span.text-input TF7qSs3P7WRjESi7vUTt2cd3serGTYiWka
              span.copy-button
            .coin-photo
              img.image-common(src=path+"/img/icon_code.png", alt="Code")
        .wallet-content.tab-content.tab-withdraw#withdraw
          .deposit-row
            h3.wallet-title.ft-paytone Choose Currency
            select.select
              option(value="TRON - TRC20 (TRX)") TRON - TRC20 (TRX)
              option(value="HAMBURGER (HAM)") HAMBURGER (HAM)
            p.coin-text
              | 1 TRX Coin ~ <span class="is-yellow">0.02511</span> GDC
          .withdraw-quantity
            h3.wallet-title.ft-paytone Quantity withdraw
            p Minimum withdrawal amount : 100 Usdt, Fee: 5 usdt,Number of coins you receive: -5
          .coin-row.coin-withdraw
            .coin-input
              input.text-input(type="text" placeholder="Enter number")
              span.text GDC
            .withdraw-column
              input.text-input(type="text" placeholder="Enter address")
          button.button-request.ft-paytone.trans(type="button") Request Withdraw
        ul.list-number
          li The GDC is charged according to the market price at the time when the transfer of each cryptocurrency is completed..
          li Please deposit the money to the correct address. You can't find it back if the address is wrong.
          li Please use the currency calculator for reference based on the current market price..
          li There may be a difference in market prices at the time of transmission..
    a.button-history.ft-paytone.trans(href="#") 
      span Charge History
        
