dev/pug/register/index.pug
extends ../_layouts/default_login

block vars
  -title        = 'Register'
  -description  = ''
  -keywords     = ''
  -pageID       = 'register'
  -path         = '..'

block container
  section.section-login
    .box-common
      img.photo(src=path+"/img/img_avatar.png", alt="avatar")
      h1.title.ft-paytone Resigter member
      form
        ul.list-login
          li
            input.text-input-control(type="text" placeholder="User ID")
          li
            input.text-input-control(type="email" placeholder="Email")
          li
            input.text-input-control(type="text" placeholder="Full name")
          li
            input.text-input-control(type="password" placeholder="Password")
          li
            input.text-input-control(type="password" placeholder="Confirm Password")
        button.button-submit.ft-paytone.trans(type="submit") Register

register/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Register</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="body-background js-background"></div>
    <div class="container">
      <main>
        <section class="section-login">
          <div class="box-common"><img class="photo" src="../img/img_avatar.png" alt="avatar">
            <h1 class="title ft-paytone">Resigter member</h1>
            <form>
              <ul class="list-login">
                <li>
                  <input class="text-input-control" type="text" placeholder="User ID">
                </li>
                <li>
                  <input class="text-input-control" type="email" placeholder="Email">
                </li>
                <li>
                  <input class="text-input-control" type="text" placeholder="Full name">
                </li>
                <li>
                  <input class="text-input-control" type="password" placeholder="Password">
                </li>
                <li>
                  <input class="text-input-control" type="password" placeholder="Confirm Password">
                </li>
              </ul>
              <button class="button-submit ft-paytone trans" type="submit">Register</button>
            </form>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
